<h1>New task</h1>

<%= form_tag create_task_path, :method => "post" do %>
  <label for="description">Task</label>
  <input type="text" name="task[description]" placeholder="Task">
  <input type="submit">
<% end %>