<h1>Login</h1>

<%= form_tag users_path, :method => "post" do %>
  <label for="email">Email</label>
  <input type="text" name="user[email]" placeholder="Email">
  <label for="password">Password</label>
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit">
<% end %>