<h1>Welcome, <%= @user.name %>!</h1>

<a href="/users/<%= params[:id] %>/edit">Update profile</a>
<a href="/users/<%= params[:id] %>" data-method="delete" data-confirm="Are you sure you want to delete your profile?">Delete profile</a>